body{margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);}
nav{background-color: #27140C;}
nav ul{text-align: left;}
nav li a{color: #E9CFBB !important;
    font-size: 25pt;}
nav li .active{text-decoration: underline !important;}

