body{margin: 0px;
    padding: 0px;
    background-color: #000000;}
header{display: flex;
    background-color: #27140C;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
    align-items: center;}
header img{justify-content: left;}
nav ul{list-style: none;
    display: flex;
    gap: 40px;
    justify-content: flex-end;}
nav li{font-size: 30pt;}
nav a{text-decoration: none;
    color: #E8CEBB;}
nav a:hover{text-decoration: underline;}
nav a #active{text-decoration: underline;}